/walk.egg-info/dependency_links.txt
/walk.egg-info/entry_points.txt
/walk.egg-info/PKG-INFO
/walk.egg-info/requires.txt
/walk.egg-info/SOURCES.txt
/walk.egg-info/top_level.txt
/.coverage
/coverage.xml
/.idea/.gitignore
/.idea/material_theme_project_new.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/walk-backend.iml
