# Core dependencies
motor==3.7.0
numpy==2.2.3
openai==1.65.4
pydantic==2.10.6
pymongo==4.11.2
python-dotenv==1.0.1
setuptools==75.9.1
tenacity==9.0.0

# CLI
click==8.1.8
rich==13.9.4

# API
fastapi==0.115.11
uvicorn==0.34.0
python-multipart==0.0.20


# Testing
pytest==8.3.5
pytest-asyncio==0.25.3
pytest-cov==6.0.0
pytest-mock==3.14.0

